= render partial: "common/common_edit_form", locals: {singular: 'get_emails_rule', object: get_emails_rule, url: dashboard_get_emails_hook_get_emails_rule_path(@get_emails_hook, @get_emails_rule), colspan: colspan}
