= render partial: "common/common_new_form", locals: {singular: 'get_emails_rule', plural: "get_emails_rules", object: @get_emails_rule, url: dashboard_get_emails_hook_get_emails_rule_path(@get_emails_hook)}
