
= link_to "New thing", new_thing_path(), disable_with: "Loading...", remote: true, class: "new-thing-button btn btn-primary pull-right"

.clearfix
.new-thing-form{style: "display: none; position: relative;"}



%table.table.table-striped.thing-table
  %thead
    %tr
      %th{:scope => "col"} A      %th{:scope => "col"} B      %th{:scope => "col"} C at      %th{:scope => "col"} User



  %tbody
    - if things.empty?
      None
    - things.each do |thing|
      = render partial: 'thing/line', locals: {thing: thing,  }
